body {
  font-family: 'Montserrat', sans-serif;
  background: #f8f9fb; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*NAVIGATION and content-right*/
.content-holder {
  width: 100%;
  height: auto;
  display: inline-block;
  height: 2000px; }
  .content-holder .page-section {
    width: 90%;
    height: 100vh;
    background-color: blue;
    float: right;
    /*background: linear-gradient(45deg, #43cea2 10%, #185a9d 90%);*/
    color: white;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5); }
  .content-holder #section1 {
    background-image: url(../img/HEADER_BG.png);
    background-position: top;
    background-size: cover;
    width: 100%;
    background-repeat-x: no-repeat; }
  .content-holder #section2 {
    background-color: #ee2f30; }
  .content-holder #section3 {
    background-color: #e8edfb; }
  .content-holder #section4 {
    background-image: url(../img/ESPORTS_BG.png);
    background-position: top;
    background-size: auto 100vh;
    width: 100%; }
  .content-holder #section5 {
    background-color: #434343; }
  .content-holder .navigation {
    width: 10%;
    float: left;
    height: 100vh;
    text-align: center;
    font-size: 18px;
    color: #000;
    padding: 0 0 10%;
    position: fixed;
    background-color: WHITE;
    color: #5D5D5D; }
    .content-holder .navigation__link {
      display: block;
      color: #ddd;
      text-decoration: none;
      padding: 1em;
      font-weight: 400; }
      .content-holder .navigation__link:hover {
        background-color: #aaa; }
      .content-holder .navigation__link.active {
        color: #ee2f30;
        background-color: rgba(0, 0, 0, 0.1); }
    .content-holder .navigation .section1bcg {
      height: 120px;
      padding: 50px;
      background-color: #1d234b; }
    .content-holder .navigation .section2bcg {
      height: 120px;
      padding: 50px;
      background-color: #ee2f30; }
    .content-holder .navigation .section3bcg {
      height: 120px;
      padding: 50px;
      background-color: #e8edfb; }
    .content-holder .navigation .section4bcg {
      height: 120px;
      padding: 50px;
      background-color: #ee2f30; }
    .content-holder .navigation .section5bcg {
      height: 120px;
      padding: 50px;
      background-color: #434343; }
    .content-holder .navigation .sectionbcg {
      height: 200px;
      background-color: gray; }

/**/
/*home*/
img.bringiton {
  width: 40%;
  position: absolute;
  top: 39%;
  left: 26%; }

.hometxt {
  position: absolute;
  top: 64%;
  left: 21%; }

.smallborder {
  width: 100px;
  border-top: 4px solid white;
  position: absolute;
  top: 60%;
  left: 21%; }

.divbtn a {
  position: absolute;
  top: 74%;
  left: 21%;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 70px;
  border: 1px solid white; }
  .divbtn a:hover {
    background-color: #ee2f30;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.divbtn img {
  position: absolute;
  top: 74%;
  left: 34%;
  width: 150px;
  padding-top: 7px; }

/***/
/*timer*/
.timer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25%;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .timer .timer-part {
    width: 21%;
    padding: 50px 0;
    text-align: center;
    background-color: #efefef;
    color: #1d234b; }

/**/
/*apply section*/
/**/
/*sports section*/
.sports {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 10%;
  padding-top: 5%; }
  .sports .sportbox {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%; }
  .sports #sport1 {
    background-color: #d6d6c2; }
  .sports #sport6 {
    background-color: #d6d6c2; }

/**/
/*contact section*/
.contact {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-left: 10%;
  padding-top: 5%; }
  .contact .singlecontactbox {
    /*  flex:1 1 0;*/
    text-align: center; }
    .contact .singlecontactbox .imgbox {
      width: 150px;
      height: 150px;
      background-color: #efefef;
      line-height: 12; }

/**/
