body {
  font-family: 'Montserrat', sans-serif;
  background: #f8f9fb; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*logo nav bckground*/
/**/
/*content sections*/
/**/
/*gradients for sports sections*/
/*home*/
img.bringiton {
  width: 40%;
  position: absolute;
  top: 39%;
  left: 23%; }
  @media screen and (max-width: 1600px) and (min-width: 1200px) {
    img.bringiton {
      width: 45%;
      left: 20%; } }
  @media screen and (max-width: 1198px) and (min-width: 768px) {
    img.bringiton {
      width: 60%;
      left: 20%; } }
  @media screen and (max-width: 768px) {
    img.bringiton {
      width: 90%;
      top: 20%;
      left: 5%; } }

.hometxt {
  position: absolute;
  top: 64%;
  left: 21%; }
  .hometxt p:last-child {
    color: #ee2f30;
    font-weight: bold; }
  @media screen and (max-width: 768px) {
    .hometxt {
      top: 38%;
      left: 5%; } }

.smallborder {
  width: 100px;
  border-top: 4px solid white;
  position: absolute;
  top: 60%;
  left: 21%; }
  @media screen and (max-width: 768px) {
    .smallborder {
      top: 36%;
      left: 5%; } }

.divbtn a {
  position: absolute;
  top: 74%;
  left: 21%;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 50px;
  border: 1px solid white; }
  .divbtn a:hover {
    background-color: #ee2f30;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  @media screen and (max-width: 768px) {
    .divbtn a {
      top: 55%;
      left: 4%;
      padding: 10px 30px; } }

.divbtn img {
  position: absolute;
  top: 74%;
  left: 36%;
  width: 150px;
  padding-top: 7px; }
  @media screen and (max-width: 1400px) {
    .divbtn img {
      left: 42%; } }
  @media screen and (max-width: 768px) {
    .divbtn img {
      top: 55%;
      left: 40%; } }
  @media screen and (max-width: 500px) {
    .divbtn img {
      display: none; } }

/***/
/*about*/
/*.pagesection{
  @include mQ(768px){
    padding:100px 100px;
  }
}*/
.about {
  /*timer*/
  /**/ }
  .about .about__uniada {
    border-left: 3px solid white;
    padding-left: 30px; }
    .about .about__uniada h1 {
      font-size: 50px;
      font-weight: 600;
      width: 40%; }
      @media screen and (max-width: 1200px) {
        .about .about__uniada h1 {
          width: 60%; } }
      @media screen and (max-width: 768px) {
        .about .about__uniada h1 {
          font-size: 30px; } }
    .about .about__uniada p {
      font-size: 45px;
      font-weight: 100; }
      @media screen and (max-width: 768px) {
        .about .about__uniada p {
          font-size: 25px; } }
  .about .about_txt {
    padding-right: 300px; }
    @media screen and (max-width: 1500px) {
      .about .about_txt {
        padding-right: 0; } }
  .about .countdown_head {
    width: 50%;
    margin: 60px auto 50px;
    text-align: center;
    padding-top: 20px; }
    @media screen and (max-width: 1200px) {
      .about .countdown_head {
        margin: 50px auto; } }
    @media screen and (max-width: 768px) {
      .about .countdown_head {
        margin: 30px auto;
        width: 100%; } }
    .about .countdown_head .topborder {
      border-top: 3px solid white;
      width: 100px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 25px; }
    .about .countdown_head h2 {
      font-weight: 100;
      width: 50%;
      margin-left: auto;
      margin-right: auto; }
      @media screen and (max-width: 1200px) and (min-width: 768px) {
        .about .countdown_head h2 {
          width: auto; } }
      .about .countdown_head h2 span {
        font-weight: 600; }
  .about .timer {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20%;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media screen and (max-width: 1400px) {
      .about .timer {
        width: 100%;
        margin: 0; } }
    @media screen and (max-width: 768px) {
      .about .timer {
        width: 96%;
        margin: auto; } }
    .about .timer .timer-part {
      font-size: 20px;
      width: 24%;
      padding: 40px 0;
      text-align: center;
      background-color: #efefef;
      color: #1d234b; }
      .about .timer .timer-part span {
        font-weight: bold;
        margin-top: 20px; }
      @media screen and (max-width: 768px) {
        .about .timer .timer-part {
          font-size: 13px;
          padding: 20px 0; } }

/**/
/*sports section*/
.sports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  left: 50px; }
  .sports .sportbox {
    position: relative;
    /*box-sizing: border-box;
        flex:0 0 33%;
        height:250px;
        display:flex;
        justify-content: center;
        align-items: center;*/ }
    .sports .sportbox .sportname {
      position: absolute;
      bottom: 42px;
      color: white;
      text-decoration: none;
      left: 45%; }
    .sports .sportbox a {
      width: 100%;
      height: 100%; }
    .sports .sportbox img {
      position: absolute;
      top: 25%;
      left: 38%; }
  .sports #sport1 {
    width: 330px;
    height: 270px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sports #sport1 .borderforsport1 {
      padding-left: 20px;
      border-left: 2px solid #1d234b; }
      .sports #sport1 .borderforsport1 p {
        font-size: 25px;
        font-weight: 300;
        color: #1d234b;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
  .sports #sport2 {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#ee2f30), color-stop(#f23536), color-stop(#f73a3b), color-stop(#fb4041), to(#ff4546));
    background-image: -webkit-linear-gradient(left bottom, #ee2f30, #f23536, #f73a3b, #fb4041, #ff4546);
    background-image: -o-linear-gradient(left bottom, #ee2f30, #f23536, #f73a3b, #fb4041, #ff4546);
    background-image: linear-gradient(to right top, #ee2f30, #f23536, #f73a3b, #fb4041, #ff4546);
    width: 330px;
    height: 270px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .sports #sport3 {
    width: 330px;
    height: 270px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#7e429a), color-stop(#8643a6), color-stop(#8f44b1), color-stop(#9745bd), to(#a046c9));
    background-image: -webkit-linear-gradient(left bottom, #7e429a, #8643a6, #8f44b1, #9745bd, #a046c9);
    background-image: -o-linear-gradient(left bottom, #7e429a, #8643a6, #8f44b1, #9745bd, #a046c9);
    background-image: linear-gradient(to right top, #7e429a, #8643a6, #8f44b1, #9745bd, #a046c9); }
  .sports #sport4 {
    width: 330px;
    height: 270px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#12b4b3), color-stop(#12bebd), color-stop(#12c7c6), color-stop(#12d1d0), to(#11dbda));
    background-image: -webkit-linear-gradient(left bottom, #12b4b3, #12bebd, #12c7c6, #12d1d0, #11dbda);
    background-image: -o-linear-gradient(left bottom, #12b4b3, #12bebd, #12c7c6, #12d1d0, #11dbda);
    background-image: linear-gradient(to right top, #12b4b3, #12bebd, #12c7c6, #12d1d0, #11dbda); }
  .sports #sport5 {
    width: 330px;
    height: 270px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#e09733), color-stop(#e8a132), color-stop(#f0ac31), color-stop(#f8b730), to(#ffc22f));
    background-image: -webkit-linear-gradient(left bottom, #e09733, #e8a132, #f0ac31, #f8b730, #ffc22f);
    background-image: -o-linear-gradient(left bottom, #e09733, #e8a132, #f0ac31, #f8b730, #ffc22f);
    background-image: linear-gradient(to right top, #e09733, #e8a132, #f0ac31, #f8b730, #ffc22f); }
  .sports #sport6 {
    width: 330px;
    height: 270px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sports #sport6 .txtforsport6 {
      text-align: center; }
      .sports #sport6 .txtforsport6 p {
        color: #1d234b;
        font-size: 25px;
        font-weight: 300;
        text-align: center;
        padding: 0 15px; }
      .sports #sport6 .txtforsport6 a {
        border: 1px solid #1d234b;
        color: #1d234b;
        padding: 10px 20px;
        text-decoration: none; }
        .sports #sport6 .txtforsport6 a:hover {
          color: white;
          border: white;
          background-color: #1d234b;
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }

/**/
/*control active state in nav without js*/
.sportact {
  color: #ee2f30 !important;
  font-weight: bold !important; }

.inact {
  color: #a1a6b0 !important;
  font-weight: normal !important; }

/**/
.basketball .about .singlesport_btn {
  width: 50%;
  margin: auto;
  text-align: center; }
  .basketball .about .singlesport_btn a {
    color: #1d234b;
    background-color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 70px;
    border: 1px solid white; }

#basketball {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ee2f30), color-stop(#f23536), color-stop(#f73a3b), color-stop(#fb4041), to(#ff4546));
  background-image: -webkit-linear-gradient(left bottom, #ee2f30, #f23536, #f73a3b, #fb4041, #ff4546);
  background-image: -o-linear-gradient(left bottom, #ee2f30, #f23536, #f73a3b, #fb4041, #ff4546);
  background-image: linear-gradient(to right top, #ee2f30, #f23536, #f73a3b, #fb4041, #ff4546);
  width: 100%;
  height: 100vh;
  color: white;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 100px 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto; }
  @media screen and (max-width: 1400px) {
    #basketball {
      padding: 100px 100px; } }
  @media screen and (max-width: 1200px) {
    #basketball {
      padding: 100px 60px; } }

#handball {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#7e429a), color-stop(#8643a6), color-stop(#8f44b1), color-stop(#9745bd), to(#a046c9));
  background-image: -webkit-linear-gradient(left bottom, #7e429a, #8643a6, #8f44b1, #9745bd, #a046c9);
  background-image: -o-linear-gradient(left bottom, #7e429a, #8643a6, #8f44b1, #9745bd, #a046c9);
  background-image: linear-gradient(to right top, #7e429a, #8643a6, #8f44b1, #9745bd, #a046c9);
  width: 100%;
  height: 100vh;
  color: white;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 100px 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto; }
  @media screen and (max-width: 1400px) {
    #handball {
      padding: 100px 100px; } }
  @media screen and (max-width: 1200px) {
    #handball {
      padding: 100px 60px; } }

#futsal {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#12b4b3), color-stop(#12bebd), color-stop(#12c7c6), color-stop(#12d1d0), to(#11dbda));
  background-image: -webkit-linear-gradient(left bottom, #12b4b3, #12bebd, #12c7c6, #12d1d0, #11dbda);
  background-image: -o-linear-gradient(left bottom, #12b4b3, #12bebd, #12c7c6, #12d1d0, #11dbda);
  background-image: linear-gradient(to right top, #12b4b3, #12bebd, #12c7c6, #12d1d0, #11dbda);
  width: 100%;
  height: 100vh;
  color: white;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 100px 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto; }
  @media screen and (max-width: 1400px) {
    #futsal {
      padding: 100px 100px; } }
  @media screen and (max-width: 1200px) {
    #futsal {
      padding: 100px 60px; } }

#volleyball {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#e09733), color-stop(#e8a132), color-stop(#f0ac31), color-stop(#f8b730), to(#ffc22f));
  background-image: -webkit-linear-gradient(left bottom, #e09733, #e8a132, #f0ac31, #f8b730, #ffc22f);
  background-image: -o-linear-gradient(left bottom, #e09733, #e8a132, #f0ac31, #f8b730, #ffc22f);
  background-image: linear-gradient(to right top, #e09733, #e8a132, #f0ac31, #f8b730, #ffc22f);
  height: auto;
  width: 100%;
  height: 100vh;
  color: white;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 100px 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 1400px) {
    #volleyball {
      padding: 100px 100px; } }
  @media screen and (max-width: 1200px) {
    #volleyball {
      padding: 100px 60px; } }

.esport .esport_head {
  border-left: 3px solid black;
  color: black;
  padding-left: 30px; }
  .esport .esport_head h1 {
    font-size: 50px;
    font-weight: 600;
    width: 40%; }
    @media screen and (max-width: 1200px) {
      .esport .esport_head h1 {
        width: 60%; } }
    @media screen and (max-width: 768px) {
      .esport .esport_head h1 {
        font-size: 30px; } }
  .esport .esport_head p {
    font-size: 45px;
    font-weight: 100; }
    @media screen and (max-width: 768px) {
      .esport .esport_head p {
        font-size: 25px; } }

.esport .esport_txt {
  color: black;
  padding-right: 500px; }
  @media screen and (max-width: 1200px) {
    .esport .esport_txt {
      padding-right: 100px; } }
  @media screen and (max-width: 768px) {
    .esport .esport_txt {
      padding-right: 50px; } }

.esport .esport_icons {
  margin: 35px 0 30px; }
  .esport .esport_icons img {
    padding: 0 10px; }
    @media screen and (max-width: 768px) {
      .esport .esport_icons img {
        width: 60px; } }

.esport .esportbtn {
  color: black;
  padding: 10px 30px;
  border: 1px solid black;
  margin-bottom: 15px; }
  .esport .esportbtn:hover {
    color: white;
    background-color: black;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    border: 1px solid white; }

/*apply section*/
.application .uniadaexperience {
  overflow: hidden;
  margin-bottom: 50px; }
  .application .uniadaexperience .experienceh {
    width: 80%;
    margin-left: 15%;
    letter-spacing: 10px;
    font-weight: bold; }
  .application .uniadaexperience .experiencetxt {
    width: 70%;
    float: right; }
    .application .uniadaexperience .experiencetxt .experiencetxtp {
      font-style: italic; }
    .application .uniadaexperience .experiencetxt .experiencesignature {
      text-align: right;
      font-style: italic;
      font-size: 12px; }
  .application .uniadaexperience .dividerexperience {
    width: 10%;
    margin-left: 49%;
    border-top: 2px solid white;
    text-align: center;
    padding-top: 28px; }

.application h1 {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  text-align: center;
  font-weight: 900; }
  @media screen and (max-width: 1400px) {
    .application h1 {
      font-size: 60px;
      line-height: 60px; } }
  @media screen and (max-width: 768px) {
    .application h1 {
      font-size: 30px;
      line-height: 40px;
      width: 100%; } }

.application .apply_txt {
  padding-right: 300px; }
  @media screen and (max-width: 1400px) {
    .application .apply_txt {
      padding-right: 0; } }
  .application .apply_txt h2 {
    font-size: 35px;
    font-weight: 500; }
    @media screen and (max-width: 768px) {
      .application .apply_txt h2 {
        font-size: 28px; } }

.application .apply_btns a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 30px;
  margin-right: 30px; }
  @media screen and (max-width: 1100px) and (min-width: 768px) {
    .application .apply_btns a {
      width: 50%;
      display: block;
      margin-bottom: 20px; } }
  @media screen and (max-width: 768px) {
    .application .apply_btns a {
      line-height: 60px; } }
  .application .apply_btns a:hover {
    background-color: white;
    color: #12b4b3;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

/**/
/*contact section*/
.contact {
  width: 80%;
  margin-left: 10%; }
  @media screen and (max-width: 768px) {
    .contact {
      width: 100%;
      margin: 0;
      padding: 0; } }
  .contact .contact_head {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px; }
    @media screen and (max-width: 1400px) {
      .contact .contact_head {
        width: auto; } }
    @media screen and (max-width: 768px) {
      .contact .contact_head {
        width: 100%;
        margin: 20px auto; } }
    .contact .contact_head .topborder {
      border-top: 3px solid white;
      width: 100px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 25px; }
    .contact .contact_head h1 {
      margin: 0; }
    .contact .contact_head p {
      font-size: 20px;
      font-weight: 300;
      padding-top: 5px; }
  .contact .contact_info {
    width: 100%;
    display: inline-block;
    text-align: center; }
    .contact .contact_info .singlecontactbox {
      /*  flex:1 1 0;*/
      margin: 25px 29px;
      display: inline-block;
      vertical-align: top;
      min-width: 160px;
      /*  .imgbox{
        width: 150px;
        height: 150px;
        background-color: #efefef;
        line-height: 12;
      }*/ }
      @media screen and (max-width: 1400px) {
        .contact .contact_info .singlecontactbox {
          margin: 10px; } }
      @media screen and (max-width: 768px) {
        .contact .contact_info .singlecontactbox {
          margin: 5px; } }
      .contact .contact_info .singlecontactbox a {
        color: white;
        padding: 30px 0;
        margin-top: 50px;
        text-decoration: none; }
        @media screen and (max-width: 768px) {
          .contact .contact_info .singlecontactbox a {
            font-size: 12px; } }
      @media screen and (max-width: 1400px) {
        .contact .contact_info .singlecontactbox img {
          width: 50%; } }
      @media screen and (max-width: 768px) {
        .contact .contact_info .singlecontactbox img {
          width: 15%; } }
      @media screen and (max-width: 768px) {
        .contact .contact_info .singlecontactbox p {
          font-size: 12px; } }

/**/
#volunteer {
  background-color: #1d234b;
  width: 100%;
  height: 100vh;
  color: white;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 100px 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  height: auto; }
  @media screen and (max-width: 1400px) {
    #volunteer {
      padding: 100px 100px; } }
  @media screen and (max-width: 1200px) {
    #volunteer {
      padding: 100px 60px; } }

.volunteer .about form {
  text-align: center; }
  .volunteer .about form input {
    display: block;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
    border: 0;
    margin-bottom: 30px;
    color: #1d234b; }
  .volunteer .about form button {
    padding: 10px 50px;
    border-radius: 15px;
    border: 0;
    color: #1d234b; }
    .volunteer .about form button:hover {
      background-color: #1d234b;
      border: 1px solid white;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      color: white; }

.volunteer .about .volunteerimg {
  position: absolute;
  bottom: 2%;
  right: 2%; }

/*NAVIGATION and content-right*/
.counter {
  height: 5px;
  background: -webkit-gradient(linear, left bottom, right top, from(#e09733), color-stop(#e8a132), color-stop(#f0ac31), color-stop(#f8b730), to(#ffc22f));
  background: -webkit-linear-gradient(left bottom, #e09733, #e8a132, #f0ac31, #f8b730, #ffc22f);
  background: -o-linear-gradient(left bottom, #e09733, #e8a132, #f0ac31, #f8b730, #ffc22f);
  background: linear-gradient(to right top, #e09733, #e8a132, #f0ac31, #f8b730, #ffc22f);
  position: fixed;
  top: 0;
  z-index: 1; }

.content-holder {
  width: 100%;
  height: auto;
  display: inline-block; }
  .content-holder #burger-container {
    display: none; }
    @media screen and (max-width: 768px) {
      .content-holder #burger-container {
        display: block;
        position: fixed;
        top: 25px;
        right: 25px;
        z-index: 100;
        width: 65px; }
        .content-holder #burger-container #burger {
          cursor: pointer;
          display: block; }
          .content-holder #burger-container #burger span {
            display: block;
            width: 65px;
            height: 2px;
            margin-bottom: 10px;
            background: #eee;
            position: relative;
            top: 0;
            -webkit-transition: all ease-in-out 0.4s;
            -o-transition: all ease-in-out 0.4s;
            transition: all ease-in-out 0.4s; }
          .content-holder #burger-container #burger .sectiondefspan {
            background: #eee; }
          .content-holder #burger-container #burger .sectionspancol {
            background: #1d234b !important; } }
  .content-holder #burger-container.open span:nth-child(2),
  .content-holder #burger-container.open span:nth-child(3) {
    width: 0;
    opacity: 0; }
  .content-holder #burger-container.open span:nth-child(4) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -18px !important; }
  .content-holder #burger-container.open span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px !important; }
  .content-holder .section {
    width: 90%;
    float: right; }
    @media screen and (max-width: 1400px) {
      .content-holder .section {
        width: 85%;
        float: right; } }
    @media screen and (max-width: 768px) {
      .content-holder .section {
        width: 100%; } }
    .content-holder .section #section1 {
      width: 100%;
      height: 100vh;
      color: white;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      padding: 100px 200px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-image: url(../img/HEADER_BG.png);
      background-position: top;
      background-size: cover;
      width: 100%;
      background-repeat-x: no-repeat; }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section1 {
          padding: 100px 100px; } }
      @media screen and (max-width: 1200px) {
        .content-holder .section #section1 {
          padding: 100px 60px; } }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section1 {
          background-position: left;
          padding: 30px; } }
      @media screen and (max-width: 768px) {
        .content-holder .section #section1 {
          height: 70vh; } }
    .content-holder .section #section2 {
      width: 100%;
      height: 100vh;
      color: white;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      padding: 100px 200px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #ee2f30; }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section2 {
          padding: 100px 100px; } }
      @media screen and (max-width: 1200px) {
        .content-holder .section #section2 {
          padding: 100px 60px; } }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section2 {
          height: auto; } }
      @media screen and (max-width: 1200px) {
        .content-holder .section #section2 {
          padding: 50px 80px; } }
      @media screen and (max-width: 768px) {
        .content-holder .section #section2 {
          padding: 15px;
          height: auto; } }
    .content-holder .section #section3 {
      width: 100%;
      height: 100vh;
      color: white;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      padding: 100px 200px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #e8edfb; }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section3 {
          padding: 100px 100px; } }
      @media screen and (max-width: 1200px) {
        .content-holder .section #section3 {
          padding: 100px 60px; } }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section3 {
          height: auto; } }
      @media screen and (max-width: 1300px) {
        .content-holder .section #section3 {
          padding: 100px 15px 150px;
          height: auto; } }
    .content-holder .section #section4 {
      width: 100%;
      height: 100vh;
      color: white;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      padding: 100px 200px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-image: url(../img/ESPORTS_BG.png);
      background-position: top;
      width: 100%; }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section4 {
          padding: 100px 100px; } }
      @media screen and (max-width: 1200px) {
        .content-holder .section #section4 {
          padding: 100px 60px; } }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section4 {
          height: auto; } }
      @media screen and (max-width: 1200px) {
        .content-holder .section #section4 {
          padding: 50px 80px;
          height: auto; } }
      @media screen and (max-width: 768px) {
        .content-holder .section #section4 {
          padding: 15px; } }
    .content-holder .section #section5 {
      width: 100%;
      height: 100vh;
      color: white;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      padding: 100px 200px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #12b4b3; }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section5 {
          padding: 100px 100px; } }
      @media screen and (max-width: 1200px) {
        .content-holder .section #section5 {
          padding: 100px 60px; } }
      @media screen and (max-width: 1200px) {
        .content-holder .section #section5 {
          padding: 50px 80px; } }
      @media screen and (max-width: 768px) {
        .content-holder .section #section5 {
          padding: 15px;
          height: auto; } }
    .content-holder .section #section7 {
      width: 100%;
      height: 100vh;
      color: white;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      padding: 100px 200px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #434343; }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section7 {
          padding: 100px 100px; } }
      @media screen and (max-width: 1200px) {
        .content-holder .section #section7 {
          padding: 100px 60px; } }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section7 {
          height: auto; } }
      @media screen and (max-width: 768px) {
        .content-holder .section #section7 {
          padding: 15px;
          height: auto; } }
    .content-holder .section #section6 {
      width: 100%;
      height: 100vh;
      color: white;
      -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      padding: 100px 200px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #12b4b3; }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section6 {
          padding: 100px 100px; } }
      @media screen and (max-width: 1200px) {
        .content-holder .section #section6 {
          padding: 100px 60px; } }
      @media screen and (max-width: 1400px) {
        .content-holder .section #section6 {
          height: auto; } }
      @media screen and (max-width: 768px) {
        .content-holder .section #section6 {
          padding: 15px;
          height: auto; } }
  .content-holder .navigation {
    width: 10%;
    float: left;
    height: 100vh;
    text-align: center;
    font-size: 18px;
    color: #000;
    padding: 0 0 10%;
    position: fixed;
    background-color: WHITE;
    color: #5D5D5D;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    @media screen and (max-width: 1400px) {
      .content-holder .navigation {
        width: 15%; } }
    @media screen and (max-width: 768px) {
      .content-holder .navigation {
        width: 40%;
        z-index: 1;
        margin-left: -40%; } }
    .content-holder .navigation .socialicons {
      margin-top: 34vh;
      width: 100%;
      text-align: center; }
      .content-holder .navigation .socialicons li {
        float: left; }
        .content-holder .navigation .socialicons li img {
          width: 29px;
          height: auto;
          padding: 13px; }
    .content-holder .navigation ul li:last-child a {
      color: #1d234b;
      font-weight: bold; }
    .content-holder .navigation__link {
      display: block;
      color: #a1a6b0;
      text-decoration: none;
      padding: 1em;
      font-weight: 400;
      font-size: 15px; }
      .content-holder .navigation__link:hover {
        color: #ee2f30; }
      .content-holder .navigation__link.active {
        color: #ee2f30;
        font-weight: bold; }
    .content-holder .navigation .section1bcg {
      height: 120px;
      padding: 50px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      background-color: #1d234b; }
      @media screen and (max-width: 1200px) and (min-width: 768px) {
        .content-holder .navigation .section1bcg {
          padding: 25px; } }
      @media screen and (max-width: 768px) {
        .content-holder .navigation .section1bcg {
          height: auto; } }
    .content-holder .navigation .section2bcg {
      height: 120px;
      padding: 50px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      background-color: #ee2f30; }
      @media screen and (max-width: 1200px) and (min-width: 768px) {
        .content-holder .navigation .section2bcg {
          padding: 25px; } }
      @media screen and (max-width: 768px) {
        .content-holder .navigation .section2bcg {
          height: auto; } }
    .content-holder .navigation .section3bcg {
      height: 120px;
      padding: 50px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      background-color: #e8edfb; }
      @media screen and (max-width: 1200px) and (min-width: 768px) {
        .content-holder .navigation .section3bcg {
          padding: 25px; } }
      @media screen and (max-width: 768px) {
        .content-holder .navigation .section3bcg {
          height: auto; } }
    .content-holder .navigation .section4bcg {
      height: 120px;
      padding: 50px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      background-color: #ee2f30; }
      @media screen and (max-width: 1200px) and (min-width: 768px) {
        .content-holder .navigation .section4bcg {
          padding: 25px; } }
      @media screen and (max-width: 768px) {
        .content-holder .navigation .section4bcg {
          height: auto; } }
    .content-holder .navigation .section5bcg {
      height: 120px;
      padding: 50px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      background-color: #12b4b3; }
      @media screen and (max-width: 1200px) and (min-width: 768px) {
        .content-holder .navigation .section5bcg {
          padding: 25px; } }
      @media screen and (max-width: 768px) {
        .content-holder .navigation .section5bcg {
          height: auto; } }
    .content-holder .navigation .section6bcg {
      height: 120px;
      padding: 50px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      background-color: #12b4b3; }
      @media screen and (max-width: 1200px) and (min-width: 768px) {
        .content-holder .navigation .section6bcg {
          padding: 25px; } }
      @media screen and (max-width: 768px) {
        .content-holder .navigation .section6bcg {
          height: auto; } }
    .content-holder .navigation .section7bcg {
      height: 120px;
      padding: 50px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      background-color: #434343; }
      @media screen and (max-width: 1200px) and (min-width: 768px) {
        .content-holder .navigation .section7bcg {
          padding: 25px; } }
      @media screen and (max-width: 768px) {
        .content-holder .navigation .section7bcg {
          height: auto; } }
    .content-holder .navigation .sectionbcg {
      height: 120px;
      padding: 50px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
      @media screen and (max-width: 1200px) and (min-width: 768px) {
        .content-holder .navigation .sectionbcg {
          padding: 25px; } }
      @media screen and (max-width: 768px) {
        .content-holder .navigation .sectionbcg {
          height: auto; } }
    @media screen and (max-width: 768px) {
      .content-holder .navigation ul #changinglogo {
        padding: 25px; } }
    @media screen and (max-width: 768px) {
      .content-holder .navigation ul #changinglogo img {
        width: 40%; } }
  .content-holder .respopen {
    margin-left: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

/**/
