/*about*/
/*.pagesection{
  @include mQ(768px){
    padding:100px 100px;
  }
}*/
.about{

  .about__uniada{
    border-left:3px solid white;
    @include sectionhead;
  }
  .about_txt{
    @include section_txt;
  }
  .countdown_head{
    width: 50%;
    margin: 60px auto 50px;
    text-align: center;
    padding-top: 20px;
    @include mQ(1200px){
      margin: 50px auto;
    }
    @include mQ(768px){
      margin:30px auto;
      width:100%;
    }

    .topborder{
      @include smallcustomborder;
    }
    h2{
      font-weight: 100;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      span{
        font-weight: 600;
      }
    }
  }
  /*timer*/
  .timer{
    width: 60%;
    display: flex;
    margin-left: 20%;
    justify-content: space-around;
    @include mQ(1400px){
      width:100%;
      margin:0;
    }
    @include mQ(768px){
      width:96%;
      margin:auto;
    }

    .timer-part{
        font-size: 20px;
        width:24%;
        padding:40px 0;
        text-align: center;
        background-color:#efefef;
        color:$deeppurple;
        span{
          font-weight: bold;
          margin-top: 20px;
        }
        @include mQ(768px){
          font-size: 13px;
          padding:20px 0;
        }
    }
  }
  /**/
}
/**/
