/*contact section*/
.contact{
  width: 80%;
  @include contentholder;

  @include mQ(768px){
    width: 100%;
    margin:0;
    padding:0;
  }

  .contact_head{
    width: 50%;
    margin: 150px auto 50px;
    text-align: center;
    padding-top: 20px;

    @include mQ(768px){
      width: 100%;
      margin: 20px auto;
    }
    .topborder{
      @include smallcustomborder;
    }
  }
  .contact_info{
    width:100%;
    display:inline-block;
    text-align: center;


    .singlecontactbox{
    /*  flex:1 1 0;*/
      margin:25px;
      display:inline-block;
      vertical-align: top;
      min-width: 160px;
      @include mQ(768px){
        margin:5px;
      }
      a{
        color:white;
        padding:30px 0;
        margin-top:50px;
      }


      .imgbox{
        width: 150px;
        height: 150px;
        background-color: #efefef;
        line-height: 12;
      }
    }
  }

}
/**/
