.esport{
  .esport_head{
    border-left:3px solid black;
    color:black;
    @include sectionhead;
  }
  .esport_txt{
      color:black;
      padding-right: 500px;
      @include mQ(1200px){
        padding-right: 100px;
      }
      @include mQ(768px){
        padding-right: 50px;
      }
  }
  .esport_icons{
    margin:35px 0 30px;
      img{
        padding:0 10px;
        @include mQ(768px){
          width:60px;
        }
      }
  }
  .esportbtn{
    color: black;
    padding: 10px 30px;
    border: 1px solid black;
    margin-bottom: 15px;

    &:hover{
      color:white;
      background-color: black;
      transition: 1s;
      border:1px solid white;
    }
  }
}
