.esport{
  .esport_head{
    border-left:3px solid black;
    color:black;
    @include sectionhead;

    p{
      width:68%;
    }
  }
  .esport_txt{
      color:black;
      padding-right: 500px;
      @include mQ(1200px){
        padding-right: 230px;
      }
      @include mQ(768px){
        padding-right: 50px;
      }
  }
  .esport_icons{
    margin:35px 0 30px;
      img{
        padding:0 25px;
        @include mQ(768px){
          width:60px;
          padding:0 5px;
        }
      }
  }
  .esportbtn{
    color: black;
    padding: 10px 30px;
    border: 1px solid black;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: bold;

    &:hover{
      color:black;
      background-color: white;
      transition: 1s;
      border:1px solid black;
    }
  }
}
