/*home*/
img.bringiton {
    width: 40%;
    position: absolute;
    top: 39%;
    left: 23%;
    @include mQ(1600px, 1200px){
      width: 45%;
      left: 20%;
    }
    @include mQ(1198px, 768px){
      width: 60%;
      left: 20%;
    }
    @include mQ(768px){
      width: 90%;
      top: 20%;
      left: 5%;
    }
}
.hometxt{
  position: absolute;
  top: 64%;
  left: 21%;
  p:last-child{
    color:$contentred;
    font-weight: bold;
  }
  @include mQ(768px){
    top: 38%;
    left: 5%;
  }
}
.smallborder{
  width: 100px;
  border-top: 4px solid white;
  position: absolute;
  top: 60%;
  left: 21%;

  @include mQ(768px){
    top: 36%;
    left: 5%;
  }

}
.divbtn a {
    position: absolute;
    top: 74%;
    left: 21%;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 50px;
    border: 1px solid white;
    &:hover{
      background-color:#ee2f30;
      transition:1s;
    }
    @include mQ(768px){
      top: 55%;
      left: 4%;
      padding: 10px 30px;
    }
}
.divbtn img{
  position: absolute;
  top: 74%;
  left: 36%;
  width: 150px;
  padding-top: 7px;
  @include mQ(1400px){
    left: 42%;
  }
  @include mQ(768px){
    top: 55%;
    left: 40%;
  }
  @include mQ(500px){
    display:none;
  }
}
/***/
