@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";
@import "home.scss";
@import "about.scss";
@import "sports.scss";
@import "esport.scss";
@import "apply.scss";
@import "contact.scss";

/*NAVIGATION and content-right*/
.counter{
  height: 5px;
  background: $gradientsport5;
  position: fixed;
  top: 0;
  z-index:1;
}
.content-holder{
    width:100%;
    height: auto;
    display:inline-block;

    .section{
        width:90%;
        float:right;
        @include mQ(1400px){
          width:85%;
          float:right;
        }
        @include mQ(768px){
          width: 100%;
        }

        #section1{
          @include sectiondefault;
          background-image: url(../img/HEADER_BG.png);
          background-position: top;
          background-size: cover;
          width: 100%;
          background-repeat-x: no-repeat;
          @include mQ(1400px){
            background-position: left;
            padding:30px;

          }
        }
        #section2{
          @include sectiondefault;
          background-color: $contentred;
          @include mQ(1400px){
            height:auto;
          }
          @include mQ(1200px){
            padding:50px 80px;
          }
          @include mQ(768px){
            padding:15px;
            height:auto;
          }
        }
        #section3{
          @include sectiondefault;
          background-color: $contentgray;
          @include mQ(1300px){
            padding:100px 15px 150px;
            height:auto;
          }

        }
        #section4{
          @include sectiondefault;
          background-image: url(../img/ESPORTS_BG.png);
          background-position: top;
          background-size: auto 100vh;
          width: 100%;
          @include mQ(768px){
            padding:15px;
            height:auto;
          }
        }
        #section5{
          @include sectiondefault;
          background-color: $applyblue;
          @include mQ(1200px){
            padding:50px 80px;
          }
          @include mQ(768px){
            padding:15px;
            height:auto;
          }
        }
        #section6{
          @include sectiondefault;
          background-color: $contactgray;
          @include mQ(1400px){
            height:auto;
          }
          @include mQ(768px){
            padding:15px;
            height:auto;
          }
        }
        #section7{
          color:$deeppurple;
        }
    }
    .navigation {
      width: 10%;
      float: left;
      height: 100vh;
      text-align: center;
      font-size: 18px;
      color: #000;
      padding: 0 0 10%;
      position: fixed;
      background-color: WHITE;
      color: #5D5D5D;
      @include mQ(1400px){
        width: 15%;
      }
      @include mQ(768px){
        display:none;
      }

      ul li:last-child a
      {
        color:$deeppurple;
        font-weight: bold;
      }

      	&__link {
    			display: block;
        	color: #a1a6b0;
        	text-decoration: none;
        	padding: 1em;
    			font-weight: 400;
          font-size: 15px;

    			&:hover {
    				color:$contentred;
    			}

    		   &.active {
    		   	color: $contentred;
    				 background-color: rgba(0,0,0,0.1);
             font-weight: bold;
    		   }
      	}

        .section1bcg{
          @include logoheight;
          background-color: $deeppurple;
        }
        .section2bcg{
          @include logoheight;
          background-color: $contentred;
        }
        .section3bcg{
          @include logoheight;
          background-color: $contentgray;
        }
        .section4bcg{
          @include logoheight;
          background-color: $esport;
        }
        .section5bcg{
          @include logoheight;
          background-color: $applyblue;
        }
        .section6bcg{
          @include logoheight;
          background-color: $contactgray;
        }
        .sectionbcg{
          height:200px;
          background-color: gray;
        }
    }
}
/**/
