@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";
/*NAVIGATION and content-right*/
.content-holder{
    width:100%;
    height: auto;
    display:inline-block;
    height:2000px;
    .section{
        width:90%;
        float:right;

        #section1{
          @include sectiondefault;
          background-image: url(../img/HEADER_BG.png);
          background-position: top;
          background-size: cover;
          width: 100%;
          background-repeat-x: no-repeat;
        }
        #section2{
          @include sectiondefault;
          background-color: $contentred;
        }
        #section3{
          @include sectiondefault;
          background-color: $contentgray;
        }
        #section4{
          @include sectiondefault;
          background-image: url(../img/ESPORTS_BG.png);
          background-position: top;
          background-size: auto 100vh;
          width: 100%;
        }
        #section5{
          @include sectiondefault;
          background-color: $applyblue;
        }
        #section6{
          @include sectiondefault;
          background-color: $contactgray;
        }
        #section7{
          color:$deeppurple;
        }
    }
    .navigation {
      width: 10%;
      float: left;
      height: 100vh;
      text-align: center;
      font-size: 18px;
      color: #000;
      padding: 0 0 10%;
      position: fixed;
      background-color: WHITE;
      color: #5D5D5D;
      ul li:last-child a
      {
        color:$deeppurple;
        font-weight: bold;
      }

      	&__link {
    			display: block;
        	color: #a1a6b0;
        	text-decoration: none;
        	padding: 1em;
    			font-weight: 400;

    			&:hover {
    				color:$contentred;
    			}

    		   &.active {
    		   	color: $contentred;
    				 background-color: rgba(0,0,0,0.1);
    		   }
      	}

        .section1bcg{
          @include logoheight;
          background-color: $deeppurple;
        }
        .section2bcg{
          @include logoheight;
          background-color: $contentred;
        }
        .section3bcg{
          @include logoheight;
          background-color: $contentgray;
        }
        .section4bcg{
          @include logoheight;
          background-color: $esport;
        }
        .section5bcg{
          @include logoheight;
          background-color: $applyblue;
        }
        .section6bcg{
          @include logoheight;
          background-color: $contactgray;
        }
        .sectionbcg{
          height:200px;
          background-color: gray;
        }
    }
}
/**/
/*home*/
img.bringiton {
    width: 40%;
    position: absolute;
    top: 39%;
    left: 26%;
}
.hometxt{
  position: absolute;
  top: 64%;
  left: 21%;
  p:last-child{
    color:$contentred;
    font-weight: bold;
  }

}
.smallborder{
  width: 100px;
  border-top: 4px solid white;
  position: absolute;
  top: 60%;
  left: 21%;
}
.divbtn a {
    position: absolute;
    top: 74%;
    left: 21%;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 50px;
    border: 1px solid white;
    &:hover{
      background-color:#ee2f30;
      transition:1s;
    }
}
.divbtn img{
  position: absolute;
  top: 74%;
  left: 34%;
  width: 150px;
  padding-top: 7px;
}
/***/
/*about*/
.about{

  .about__uniada{
    border-left:3px solid white;
    padding-left:30px;
      h1{
        font-size: 40px;
      }
      p{
        font-size: 30px;
        font-weight: 100;

      }
  }
  .about_txt{
    padding-right: 300px;
  }
  .countdown_head{
    width: 50%;
    margin: 150px auto 50px;
    text-align: center;
    padding-top: 20px;

    .topborder{
      border-top:3px solid white;
      width:100px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 25px;
    }
    h2{


      span{
        font-weight: bold;
      }
    }
  }
  /*timer*/
  .timer{
    width: 50%;
    display: flex;
    margin-left: 25%;
    justify-content: space-around;

    .timer-part{
        font-size: 22px;
        width:21%;
        padding:40px 0;
        text-align: center;
        background-color:#efefef;
        color:$deeppurple;
        span{
          font-weight: bold;
          margin-top: 20px;
        }
    }
  }
  /**/
}
/**/
/*sports section*/
.sports{
  width: 80%;
  display:flex;
  flex-wrap: wrap;
  @include contentholder;

  .sportbox{
    /*box-sizing: border-box;
    flex:0 0 33%;
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;*/

  }
  #sport1{
    @include sportbox;
    .borderforsport1{
      padding-left:20px;
      border-left: 2px solid $deeppurple;

      p{
        font-size: 25px;
        color:$deeppurple;
        flex:1;
      }
    }
  }
  #sport2{
    background-image: $gradientsport2;
    @include sportbox;
  }
  #sport3{
    @include sportbox;
    background-image: $gradientsport3;
  }
  #sport4{
    @include sportbox;
    background-image: $gradientsport4;
  }
  #sport5{
    @include sportbox;
    background-image: $gradientsport5;
  }
  #sport6{
      @include sportbox;
      .txtforsport6{
        text-align: center;
        p{
          color:$deeppurple;
          font-size: 25px;
          text-align: center;
        }
        a{
          border:1px solid $deeppurple;
          padding:10px 20px;
          text-decoration: none;

          &:hover{
            color:white;
            border:white;
            background-color: $deeppurple;
            transition:1s;
          }
        }
      }
  }
}
/**/
/*apply section*/

/**/

/*contact section*/
.contact{
  width: 80%;
  display:flex;
  justify-content: space-around;
  @include contentholder;

  .singlecontactbox{
  /*  flex:1 1 0;*/
    text-align: center;


    .imgbox{
      width: 150px;
      height: 150px;
      background-color: #efefef;
      line-height: 12;
    }
  }
}
/**/
