/*control active state in nav without js*/
.sportact{
    color: $contentred !important;
    font-weight: bold !important;
}
.inact{
  color:#a1a6b0 !important;
  font-weight: normal !important;
}
/**/
.basketball{
    .about{
      .singlesport_btn{
        width: 50%;
        margin:auto;
        text-align: center;
        a{
          color:$deeppurple;
          background-color: white;
          text-decoration: none;
          text-align: center;
          padding:10px 70px;
          border:1px solid white;
        }
      }
    }
}
#basketball{
  background-image: $gradientsport2;
  @include sectiondefault;
  height: auto;
}
#handball{
  background-image: $gradientsport3;
  @include sectiondefault;
  height: auto;
}
#futsal{
  background-image: $gradientsport4;
  @include sectiondefault;
  height: auto;
}
#volleyball{
  background-image: $gradientsport5;
  height:auto;
  color: white;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  padding:100px 200px;
}
/*E SPORTS*/
#dota2{
  background-image: url('../img/DOTA2.jpg');
  background-size: cover;
  @include sectiondefault;
  height: 100vh;
}
#cs{
  background-image: url('../img/CSGO.jpg');
  background-size: cover;
  @include sectiondefault;
  height: 100vh;
}
#lol{
  background-image: url('../img/LOL.jpg');
  background-size: cover;
  @include sectiondefault;
  height: 100vh;
}
#how-to-apply{
  background-color: $contentgray;
  @include sectiondefault;
  height: 100vh;
}
