$deeppurple: #1d234b;
/*logo nav bckground*/
$contentred: #ee2f30;
$esport: #ee2f30;
$contactgray: #434343;
$contentgray: #e8edfb;
$applyblue: #12b4b3;
/**/
/*content sections*/
$sport1:#d6d6c2;
$sport2:#ff3333;
$sport3:#8000ff;
$sport4:#12b4b3;
$sport5:#66ccff;
$sport6:#ffbf00;
/**/
/*gradients for sports sections*/


$gradientsport4: linear-gradient(to right top, #12b4b3, #12bebd, #12c7c6, #12d1d0, #11dbda);
$gradientsport3: linear-gradient(to right top, #7e429a, #8643a6, #8f44b1, #9745bd, #a046c9);
$gradientsport2: linear-gradient(to right top, #ee2f30, #f23536, #f73a3b, #fb4041, #ff4546);
$gradientsport5: linear-gradient(to right top, #e09733, #e8a132, #f0ac31, #f8b730, #ffc22f);
