$deeppurple: #1d234b;
/*logo nav bckground*/
$contentred: #ee2f30;
$esport: #ee2f30;
$contactgray: #434343;
$contentgray: #e8edfb;
$applyblue: #12b4b3;
/**/
$sport1:#d6d6c2;
$sport2:#ff3333;
$sport3:#8000ff;
$sport4:#12b4b3;
$sport5:#66ccff;
$sport6:#ffbf00;
