#volunteer{
  background-color: $deeppurple;
  @include sectiondefault;
  min-height: 100vh;
  height: auto;
  @include mQ(768px){
    padding:100px 0;
  }
}
.volunteer{
    .about{
        form{
          text-align: center;
          input{
            display: block;
            text-align: center;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            border: 0;
            margin-bottom: 30px;
            color:$deeppurple;
            @include mQ(768px){
              width:70%;
            }
          }
          select{
            display: block;
            text-align: center;
            width: 52%;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            border: 0;
            margin-bottom: 30px;
            color:$deeppurple;
            @include mQ(768px){
              width:78%;
            }
          }
          textarea{
            display: block;
            text-align: center;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            border: 0;
            margin-bottom: 30px;
            color:$deeppurple;
            @include mQ(768px){
              width:70%;
            }

          }
          button {
              padding: 10px 50px;
              border: 0;
              color:$deeppurple;
              &:hover{
                  background-color: $deeppurple;
                  border:1px solid white;
                  transition:1s;
                  color:white;
              }
          }
        }
        .volunteerimg{
          position: absolute;
          bottom: 2%;
          right: 2%;
          @include mQ(768px){
            width:80%;
          }
        }
    }
}
